/.idea/.gitignore
/build/
/.idea/
/dist/
/super_nest_a_p_petrosyan.egg-info/
/super_nest/.idea/
/super_nest/Pipfile.lock
*.pyc
/run_polychord.py
*.egg-info*
/supernest/Pipfile.lock
/supernest/.idea/
/chains/
/tests/chains/
.mypy_cache/
supernest/flycheck_core.py
scratch.py
Notebooks/chains/
/supernest/tests/base/
/supernest/tests/config/
/config/
/base/
/src/
/sspr-3.4.0.tar.gz
/sspr-3.4.0.tar.gz.1
/python-supernest-3.4.0-1-any.pkg.tar.zst
/Notebooks/.ipynb_checkpoints/
/bin/
/lib/
/lib64
/pyvenv.cfg
/docs/.vitepress/cache/
/docs/.vitepress/dist/
